*.xcodeproj/project.xcworkspace/
*.DS_Store
.DS_Store
*.xcworkspace/xcshareddata/
*.xcworkspace/xcshareddata/*
*.xcodeproj/xcuserdata
*.xcodeproj/xcuserdata/*
*xcuserdata
Pods/*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcshareddata/TeamChess.xccheckout
soundbank.sf2
.swiftpm
.build
junk
